body {
    font-family: "Helvetica Neue";
    display: flex;
    justify-content: start;
    margin-left: 2rem;
    margin-right: 2rem;
}

#app {
    width: 100%;
}

nav {
    display: flex;
    justify-content: start;
}

nav a {
    border-style: solid;
    border-color: #888888;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    background: aliceblue;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    background: azure;
}

nav a:hover {
    text-decoration: brown;
}

main {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

button {
    border-style: solid;
    border-color: #888888;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    background: aliceblue;

    text-transform: uppercase;
}

button:hover {
    background: azure;
}